<%# locals: (icon:, message:, icon_class: "w-16 h-16 text-gray-300 mx-auto mb-4") %>
<div class="bg-white p-8 text-center">
  <%= inline_svg_tag icon, class: icon_class %>
  <p class="text-gray-500"><%= message %></p>
</div>
