<% notifications ||= [] %>
<div id="notifications_list">
  <% notifications.each do |notification| %>
    <%= render "notifications/notification", notification: notification %>
  <% end %>
</div>
<% if notifications.empty? %>
  <div id="notifications_empty">
    <%= render "components/empty_state",
        icon: "svg/bell.svg",
        message: t("notifications.empty"),
        icon_class: "w-12 h-12 text-gray-300 mx-auto mb-3" %>
  </div>
<% end %>
