<%# locals: (likers:) %>
<div class="p-4">
  <% if likers.any? %>
    <div class="space-y-3">
      <% likers.each do |user| %>
        <div class="flex items-center">
          <%= render "components/avatar", user: user, size: :md %>
          <div class="ml-3">
            <p class="font-medium text-gray-800"><%= user.full_name %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-500 text-center py-8"><%= t("likes.no_likes") %></p>
  <% end %>
</div>
