<%# locals: (likers:) %>
<div class="p-4">
  <% if likers.any? %>
    <div class="space-y-3">
      <% likers.each do |user| %>
        <%= render "components/avatar", user: user, size: :md, show_name: true %>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-500 text-center py-8"><%= t("likes.no_likes") %></p>
  <% end %>
</div>
