<%# locals: (users:) %>
<div class="p-4">
  <% if users.any? %>
    <div class="space-y-3">
      <% users.each do |user| %>
        <%= render "components/user_list_item", user: user, show_following_status: false %>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-500 text-center py-8"><%= t("users.no_following") %></p>
  <% end %>
</div>
