<%# locals: (label:, full_width: true) %>
<button type="button" class="<%= full_width ? 'w-full' : '' %> bg-gray-100 text-gray-700 py-3 px-4 rounded-lg font-medium hover:bg-gray-200 transition-colors cursor-pointer">
  <%= label %>
</button>
