<%# locals: (user:) %>
<div id="post_follow_button_<%= user.id %>">
  <%= button_to user_follow_path(user, source: "post"),
                method: :post,
                class: "bg-blue-400 text-white px-4 py-1 rounded-lg font-medium hover:bg-blue-700 transition-colors" do %>
    <%= t("users.follow") %>
  <% end %>
</div>
