<%# locals: (user:) %>
<div id="follow_button_<%= user.id %>">

  <%= button_to user_follow_path(user), method: :post,
                class: "w-full bg-blue-400 text-white px-4 py-1 rounded-lg font-medium hover:bg-blue-700 transition-colors",
                data: { turbo_frame: "_top" } do %>
    <%= t("users.follow") %>
  <% end %>
</div>
